<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <style type="text/css" media="screen">
      .terminal {
      border: #000 solid 5px;
      font-size: 12px;
      color: #f0f0f0;
      background: #303030;
      width: 500px;
      height: 500px;
      }

      .terminal reverse-video {
      background-color: black;
      outline: 1px solid rgba(255, 255, 255, 0, 4);
      }
      .terminal span{
      width: 7px;
      }
    </style>
  </head>
  <body onload="main()">
    Pseudo Terminal
    
    <script type="text/javascript" src="/terminal.js"></script>
  </body>
</html>
